{% extends 'common/base.html' %}
{% load static %}
{% load is_job_already_applied %}
{% block content %}
<section class="find-job section">
    <div class="container">
      <div class="single-head">
        <div class="row">
          <div class="col-12">
            {% for job in jobs %}
            <div class="single-job">
              <div class="job-image">
                {% if job.job.logo %}
                <img src="{{ job.job.logo.url }}" style="height:50px; width:50px;" alt="#" />
                {% else %}
                <img src="{% static 'assets/images/jobs/img7.png' %}" style="height:50px; width:50px;" alt="#" />
                {% endif %}
              </div>
              <div class="job-content">
                <h4><a href="{% url 'jobportal:jobdetails' job.job.id %}">{{ job.job.title }}</a></h4>
                <p>
                  {{ job.job.job_description|slice:":255"|safe}}
                </p>
                <ul>
                  <li>
                    <i class="lni lni-website"></i><a href="#"> {{ job.job.website }}</a>
                  </li>
                  <li><i class="lni lni-dollar"></i> {{ job.job.salary }}</li>
                  <li><i class="lni lni-map-marker"></i> {{ job.job.job_location }}</li>
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="pagination center">
              <ul class="pagination-list">
                <li>
                  {% if jobs.has_previous %}
                    <a href="{% url 'jobportal:joblist' jobs.previous_page_number %}"><i class="lni lni-arrow-left"></i></a>
                  {% endif %}
                </li>
                {% for i in jobs.paginator.page_range %}
                  {% if jobs.number == i %}
                    <li class='active'><span>{{ i }}</span></li>
                    {% else %}
                    <li><a href='{% url "jobportal:joblist" i %}'>{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                <li>
                {% if jobs.has_next %}
                  <a href="{% url 'jobportal:joblist' jobs.next_page_number %}"><i class="lni lni-arrow-right"></i></a>
                {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}