{% extends 'common/base.html' %}
{% load static %}
{% block content %}
 <div class="breadcrumbs overlay">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumbs-content">
            <h1 class="page-title">Profile</h1>
            <p>
              Business plan draws on a wide range of knowledge from different
              business<br />
              disciplines. Business draws on a wide range of different
              business .
            </p>
          </div>
          <ul class="breadcrumb-nav">
            <li><a href="index.html">Home</a></li>
            <li>Profile</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section class="add-resume section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 col-12">
          <div class="add-resume-inner box">
            <div class="post-header align-items-center justify-content-center">
              <h3>Profile information</h3>
            </div>
            <form class="form-ad">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" placeholder="Name" />
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" class="form-control" placeholder="Your@domain.com" />
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Profession Title</label>
                    <input type="text" class="form-control" placeholder="Headline (e.g. Front-end developer)" />
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Location</label>
                    <input type="text" class="form-control" placeholder="Location, e.g" />
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Web</label>
                    <input type="text" class="form-control" placeholder="Website address" />
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Pre Hour</label>
                    <input type="text" class="form-control" placeholder="Salary, e.g. 85" />
                  </div>
                </div>
                  <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Web</label>
                    <input type="text" class="form-control" placeholder="Website address" />
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Pre Hour</label>
                    <input type="text" class="form-control" placeholder="Salary, e.g. 85" />
                  </div>
                </div>
                  <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Web</label>
                    <input type="text" class="form-control" placeholder="Website address" />
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Pre Hour</label>
                    <input type="text" class="form-control" placeholder="Salary, e.g. 85" />
                  </div>
                </div>
                  <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Web</label>
                    <input type="text" class="form-control" placeholder="Website address" />
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Pre Hour</label>
                    <input type="text" class="form-control" placeholder="Salary, e.g. 85" />
                  </div>
                </div>
                  <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Web</label>
                    <input type="text" class="form-control" placeholder="Website address" />
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Pre Hour</label>
                    <input type="text" class="form-control" placeholder="Salary, e.g. 85" />
                  </div>
                </div>
                  <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Web</label>
                    <input type="text" class="form-control" placeholder="Website address" />
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Pre Hour</label>
                    <input type="text" class="form-control" placeholder="Salary, e.g. 85" />
                  </div>
                </div>
                  <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Web</label>
                    <input type="text" class="form-control" placeholder="Website address" />
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Pre Hour</label>
                    <input type="text" class="form-control" placeholder="Salary, e.g. 85" />
                  </div>
                </div>
                  <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Web</label>
                    <input type="text" class="form-control" placeholder="Website address" />
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label class="control-label">Pre Hour</label>
                    <input type="text" class="form-control" placeholder="Salary, e.g. 85" />
                  </div>
                </div>
                  <div class="col-12">
                  <div class="form-group">
                    <label class="button">Pre Hour</label>
                   <input type="submit" class="btn" value="Update">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}